<!DOCTYPE html>
<html>

<head>

    <title>User Login History</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<a href="/admin" class="btn page-top-btn">
    ⬅ Back to Admin Panel
</a>

<hr>

<h1>📍 User Login History</h1>

<table>

    <tr>

        <th>User</th>
        <th>Email</th>
        <th>IP Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Login Time</th>

    </tr>

    {% for login in history %}

    <tr>

        <td>{{ login.user.name }}</td>

        <td>{{ login.user.email }}</td>

        <td>{{ login.ip_address }}</td>

        <td>{{ login.city }}</td>

        <td>{{ login.state }}</td>

        <td>{{ login.country }}</td>

        <td>{{ login.login_time }}</td>

    </tr>

    {% endfor %}

</table>

</div>

</body>

</html>