<a href="/dashboard" class="btn page-top-btn">
    🏠 Dashboard
</a>

<br><br>

<h1>All Feedback</h1>
{% for feedback in feedbacks %}

<div class="project-card">

    <h3>👤 {{ feedback.name }}</h3>

    <p>
        📧 {{ feedback.email }}
    </p>

    <p>
        📝 {{ feedback.message }}
    </p>

    <form
    action="/reply_feedback/{{ feedback.id }}"
    method="POST">

        <textarea
        name="reply"
        placeholder="Write Reply">
        </textarea>

        <br><br>

        <button type="submit">
            Send Reply
        </button>

    </form>

</div>

{% endfor %}