<!DOCTYPE html>
<html>
<head>
    <title>Student Service</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <nav class="navbar">

        <div class="logo">
            Student Service
        </div>

        <button id="theme-toggle" class="theme-btn">
            🌙
        </button>

        <div class="nav-links">

            <a href="/dashboard">Home</a>

            <a href="/about">About</a>

            <a href="/projects">Projects</a>

            <a href="/add_project">Add Project</a>

            <a href="/contact">Contact</a>

            <a href="/messages">Messages</a>

            <a href="/profile">Profile</a>

            <a href="/settings">Settings</a>

            <a href="/portfolio/{{ user.username }}"target="_blank">🌐 My Public Portfolio</a>

            <a href="/logout">Logout</a>

        </div>

    </nav>

    <hr>

    <section class="hero">

    <h1>
    {{ greeting }}, {{ user.name }} 👋
    </h1>

    {% if user.profile_photo %}

    <img
    src="{{ url_for('static', filename='profile_photos/' + user.profile_photo) }}"
    class="profile-photo">

    {% endif %}

    <p>
        Manage your portfolio, projects, skills and achievements etc.
    </p>

    <h3>Complete Your Profile</h3>

<ul>

{% if not user.profile_photo %}
<li>❌ Upload Profile Photo</li>
{% endif %}

{% if not about %}
<li>❌ Add About Me</li>
{% endif %}

{% if not skills %}
<li>❌ Add Skills</li>
{% endif %}

{% if not educations %}
<li>❌ Add Education</li>
{% endif %}

{% if not resume %}
<li>❌ Upload Resume</li>
{% endif %}

{% if not certificates %}
<li>❌ Add Certificates</li>
{% endif %}

{% if not experiences %}
<li>❌ Add Experience</li>
{% endif %}

{% if not social %}
<li>❌ Add Social Links</li>
{% endif %}

</ul>

{% if completion == 100 %}
<h4>🎉 Profile Completed 100%</h4>
{% endif %}

    <div class="progress">

        <div class="progress-bar"
        role="progressbar"
        style="width: {{ completion }}%;">

        {{ completion }}%

        </div>

    </div>

    <br>

    </section>

    <section class="dashboard-links">

    <a href="/feedback" class="project-card">
    📝 Feedback
    </a>

    <a href="/my_feedback" class="project-card">
    📋 My Feedback
    </a>

    {% if user.email == "pankajraj2025434@gmail.com" %}

    <a href="/all_feedback" class="project-card">
    👀 View Feedback
    </a>

    <a href="/admin" class="project-card">
    🛠 Admin Panel
    </a>

    {% endif %}

</section>

<section class="recent-activity">

    <h2>Recent Activity</h2>

    {% for activity in activities %}

    <p>

    ✅ {{ activity.activity }}

    </p>

    {% endfor %}

</section>

<section class="dashboard-stats">

    <h2>{{ user.name }}'s Statistics</h2>

    <div class="project-card">
        <h3>Projects</h3>
        <p>{{ projects|length }}</p>
    </div>

    <div class="project-card">
        <h3>Skills</h3>
        <p>{{ skills|length }}</p>
    </div>

    <div class="project-card">
        <h3>Certificates</h3>
        <p>{{ certificates|length }}</p>
    </div>

    <div class="project-card">
        <h3>Education</h3>
        <p>{{ educations|length }}</p>
    </div>

</section>

<section class="about">

    <section class="skills">

        <h2>My Skills</h2>

        {% for skill in skills %}

        <div class="skill-card">
            {{ skill.name }}
        </div>

        {% endfor %}

    </section>
</section>

    <section class="projects-showcase">

        <h2>Featured Projects</h2>

        {% for project in projects %}

        <div class="project-card">

            <h3>{{ project.title }}</h3>

            <p>{{ project.description }}</p>

        </div>

        {% endfor %}

    </section>
<footer>

<hr>

<h2>
    © 2026 {{ user.name }} Portfolio
</h2>

<button onclick="shareProfile()" class="btn btn-success">
    🔗 Share Public Profile
</button>

<p>
    Built with Flask, SQLAlchemy and Python
</p>

</footer>

</div>

<script>

const toggleBtn =
document.getElementById("theme-toggle");

if(toggleBtn){

    if(localStorage.getItem("theme")==="dark"){

        document.body.classList.add("dark-mode");

        toggleBtn.innerHTML="☀️";
    }

    toggleBtn.addEventListener("click",()=>{

        document.body.classList.toggle(
            "light-mode"
        );

        if(document.body.classList.contains(
            "light-mode"
        )){

            localStorage.setItem(
                "theme",
                "light"
            );

            toggleBtn.innerHTML="☀️";

        }else{

            localStorage.setItem(
                "theme",
                "dark"
            );

            toggleBtn.innerHTML="🌙";
        }
    });

}

const rain =
document.getElementById("rain");

    if(rain){

        for(let i=0;i<120;i++){

        const drop =
        document.createElement("span");

        drop.classList.add("drop");

        drop.style.left =
        Math.random()*100+"vw";

        drop.style.animationDuration =
        (Math.random()*2+1)+"s";

        drop.style.animationDelay =
        Math.random()*3+"s";

        rain.appendChild(drop);
    }
}

</script>

</body>
</html>

<script>
async function shareProfile() {

    const profileUrl =
        window.location.origin +
        "/portfolio/{{ user.username }}";

    if (navigator.share) {

        await navigator.share({
            title: "My Portfolio",
            text: "Check out my portfolio",
            url: profileUrl
        });

    } else {

        navigator.clipboard.writeText(profileUrl);

        alert("Portfolio link copied!");
    }
}
</script>

</body>