<!DOCTYPE html>
<html>
<head>
    <title>Student Service</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <nav class="navbar">

        <div class="logo">
            Student Service
        </div>

        <div class="nav-links">

            <a href="/dashboard">Home</a>

            <a href="/about">About</a>

            <a href="/projects">Projects</a>

            <a href="/add_project">Add Project</a>

            <a href="/contact">Contact</a>

            <a href="/messages">Messages</a>

            <a href="/profile">Profile</a>

            <a href="/settings">Settings</a>

            <a href="/feedback">Feedback</a>

            <a href="/my_feedback">My Feedback</a>

            <!-- <a href="/all_feedback">View Feedback</a> -->

            {% if session["user_name"] == "Pankaj" %}
            <a href="/all_feedback">
            View Feedback
            
            </a>

            {% endif %}

            {% if session["user_name"] == "Pankaj Rajpoot" %}

            <a href="/admin">

            🛠 Admin Panel

            </a>

            {% endif %}

            <a href="/logout">Logout</a>

        </div>

    </nav>

    <hr>

    <section class="hero">

    <h1>Hello, I'm Pankaj</h1>

    <p>
        Aspiring Data Scientist & Python Developer
    </p>

    <h3>Complete Your Profile</h3>

<ul>

{% if not user.profile_photo %}
<li>❌ Upload Profile Photo</li>
{% endif %}

{% if not about %}
<li>❌ Add About Me</li>
{% endif %}

{% if not skills %}
<li>❌ Add Skills</li>
{% endif %}

{% if not educations %}
<li>❌ Add Education</li>
{% endif %}

{% if not resume %}
<li>❌ Upload Resume</li>
{% endif %}

{% if not certificates %}
<li>❌ Add Certificates</li>
{% endif %}

{% if not experiences %}
<li>❌ Add Experience</li>
{% endif %}

{% if not social %}
<li>❌ Add Social Links</li>
{% endif %}

</ul>

{% if completion == 100 %}
<h4>🎉 Profile Completed 100%</h4>
{% endif %}

    <div class="progress">

        <div class="progress-bar"
        role="progressbar"
        style="width: {{ completion }}%;">

        {{ completion }}%

        </div>

    </div>

    <br>

    <a href="/projects" class="btn">
        View Projects
    </a>

</section>

<section class="recent-activity">

    <h2>Recent Activity</h2>

    {% for activity in activities %}

    <p>

    ✅ {{ activity.activity }}

    </p>

    {% endfor %}

</section>

<section class="dashboard-stats">

    <h2>My Statistics</h2>

    <div class="project-card">
        <h3>Projects</h3>
        <p>{{ projects|length }}</p>
    </div>

    <div class="project-card">
        <h3>Skills</h3>
        <p>{{ skills|length }}</p>
    </div>

    <div class="project-card">
        <h3>Certificates</h3>
        <p>{{ certificates|length }}</p>
    </div>

    <div class="project-card">
        <h3>Education</h3>
        <p>{{ educations|length }}</p>
    </div>

</section>

<section class="about">

    <section class="skills">

        <h2>My Skills</h2>

        <div class="skill-card">Python</div>

        <div class="skill-card">SQL</div>

        <div class="skill-card">Flask</div>

        <div class="skill-card">Pandas</div>

        <div class="skill-card">Machine Learning</div>

    </section>

    <section class="projects-showcase">

        <h2>Featured Projects</h2>

        <div class="project-card">

            <h3>Customer Churn Prediction</h3>

            <p>
                Machine Learning model that predicts customer churn.
            </p>

        </div>

        <div class="project-card">

            <h3>House Price Prediction</h3>

            <p>
                Predicting house prices using regression techniques.
            </p>

        </div>

        <div class="project-card">

            <h3>Sales Forecasting</h3>

            <p>
                Forecasting future sales using historical data.
            </p>

        </div>

    </section>

    <section class="contact">

        <h2>Contact Me</h2>

        <p>
            Visit Email: pankajraj2025434@gmail.com
        </p>

        <p>
            Visit GitHub: 
            <a href="https://github.com/CDR31"
                target="_blank">
                🧷
            </a>
        </p>

        <p>
            Visit LinkedIn:
            <a href="https://www.linkedin.com/in/pankaj-rajpoot-12b299324/"
                target="_blank">
                🌐
            </a>
        </p>

    </section>

    <footer>

        <hr>

        <p>
            © 2026 Pankaj Portfolio
        </p>

    </footer>

</div>

</body>
</html>